.mainCard{
  width: 49.5%;
  height: 30rem;
  @media screen and (max-width:400px) {
    
    width: 100%;
    height: 30rem;
  }
}
.Imag{
  width: 100%;
  height: 100%;
  position: relative;
}
.Imag img{
  width: 100%;
  height: 100%;
}
.txt{
  position: absolute;
  z-index: 1;
  padding-left: 200px;
  @media screen and (max-width:400px) {
    
   padding-left: 40px;
  }
  /* top: 0; */
}
.txt h5{
  color: blue;
}

